* {
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Navegador */
.menu {
    float: top;
    padding: 20px;
    border-bottom: 1px solid black;
}

#menu-pages{
    float: left;
}

#menu-login {
    float: right;
}

.menu-item {
    float: left;
}

.menu-item::after {
    content: " | ";
}

.menu-item:last-child::after {
    content: none;
}

.menu-item a {
    padding: 5px 10px;
    text-decoration: none;
    max-width: 5%;
    color: black;
}

/* Conteudo */

.conteudo {
    padding: 1px;
    
}

main{
    float: left;
    max-width: 50%; 
    
}


aside{
    float: right;
    max-width: 50%;
}

section{
    font-size: 20px;
    margin: 5%;
}

.title{
    font-size: 20px;
    text-align: center;
    margin: 5px;

}

.post img{
    max-height: 50%;
    max-width: 50%;
}

#post2{
    text-align: center;
}

.locale address, .commentary article{
    font-style: normal;
    padding: 10px;
}

.local-city{
    font-style: normal;
    font-weight: bolder;
}

/*-- Footer --*/

footer{
    margin: -10px;
    min-width: 100%;
    border-top:1px solid black;
    clear: both;
    overflow: no-display;
}

footer p{
    padding: 20px;
    font-size: 12px;
}

/*-- Tela cadastro --*/
main-centro{
    float: justify;
    max-width: 50%;
}

.informacao{
    padding: 80px;
    text-align: center;
}

div.b {
    font-size: large;
}


main form h2 {
    font-size: 25px;
    margin: 10px;
    
}

form{
    margin: 10%;
}

.text-input{
    font-weight: bolder;
    margin: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.button{
    background-color: #99d1f1;
    border-color: #111111;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    padding: 5px 20px;    
}

