/*
  REFERENCIA PARA A CRIACAO DO CSS BOXMODEL
  https://developer.mozilla.org/pt-BR/docs/Aprender/CSS/Construindo_blocos/The_box_model
*/
* {
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


body, html {
    font-size: 16px;
    width: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

/* --- menu com flex-- */
.menu {
    margin: 0;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
}
	.menu:before,
	.menu:after{
		content: "";
		display: table;
	}

	.menu:after{
		clear: both;
	}


.menu-item{
	padding: 8px;
	text-align: center;
	list-style-type: none;
	display: inline; 
}

.menu-item::after {
    content: " | ";
}

.menu-item:last-child::after {
    content: none;
}

.menu-item a {
    padding: 5px 10px;
    text-decoration: none;
	max-width: 5%;
	color: black;  
}

#menu-login{
    margin-left: 650px;
}

/* Conteudo */
.conteudo{
    padding: 30px;
    margin-left: 100px;
    height: 640px;
}

main{
    display: inline-block;
	max-width: 50%; 
    padding: 10px 10px 10px 10px;
}

aside{
    display: inline-block;
    max-width: 45%;
    position: relative;
    bottom: 71px; 
    margin-left: 50px;
}

.post img{
    max-width: 250px;
}


#post1, #post2, .locale, .commentary{
    text-align: left;
    height: 280px;
    font-size: 20px;
    margin: 5px;
}

#post2{
    text-align: center;
}

.locale address, .commentary article{
    font-style: normal;
    padding: 10px;
    padding-right: 0;
}

.title{
	font-size: 30px;
    text-align: center;
}

/*-- Footer --*/

footer{
    min-width: 100%;
    border-top:1px solid black;
    clear: both;
    overflow: no-display;
	bottom: 0;
}

footer p{
    padding: 10px 20px;
    font-size: 12px;
}

/*-- Tela Login --*/
main-centro{
    max-width: 100%;
    display: inline-block;
    padding: 150px;
}

.acesso{
    padding: 50px;
    text-align: center;
}

main form h2 {
    font-size: 25px;
    margin: 10px;
    
}


.text-input{
    font-weight: bolder;
    margin: 10px;
    font-size: 20px;
    
}

.button{
    position: relative;
    background-color: #99d1f1;
    border-color: #111111;
    border-radius: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 25px;  
    right: 190px;  
}

input[type="text"], [type="password"]{ 
    padding: 10px ; 
   
}