/*
  REFERENCIA PARA A CRIACAO DO CSS FLOAT
  https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Floats
*/
* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Navegador */
.menu {
    float: top;
    padding: 40px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

#menu-pages{
    float: left;
}

#menu-login {
    float: right;
}

.menu-item {
    float: left;
}

.menu-item::after {
    content: " | ";
}

.menu-item:last-child::after {
    content: none;
}

.menu-item a {
    padding: 5px 10px;
    text-decoration: none;
    max-width: 5%;
    color: black;
}

ul {
    list-style-type: none;
}

/* Conteudo */
 .conteudo{
    width: 90%;
    height: 90%;
    padding-left: 100px;
   
}

@media (min-width: 992px){
    .col-content{
        float: left;
        width: 50%;
        height: 650px;
    }

    .col-sidebar{
        float: left;
        width: 40%;
        height: 650px;
    }
}
.title{
    font-size: 25px;
    text-align: center;
    margin: 5px;
}

.post img{
    max-width: 250px;
}

#post1, #post2, .locale, .commentary{
    text-align: left;
    height: 300px;
    font-size: 20px;
    margin: 5px;
}

#post2{
    text-align: center;
}

#texto{
    padding: 15px;
}

.locale address, .commentary article{
    font-style: normal;
    padding: 10px;
}

.local-city{
    font-style: normal;
    font-weight: bolder;
}

/*-- Footer --*/

footer{
    min-width: 100%;
    border-top:1px solid black;
    clear: both;
    overflow: no-display;
}

footer p{
    padding: 10px 20px;
    font-size: 12px;
}

/*-- Tela Login --*/
main-centro{
    float: justify;
    max-width: 50%;
}

.acesso{
    padding: 50px;
    text-align: center;
}

main form h2 {
    font-size: 25px;
    margin: 10px;
    
}

form{
    margin: 10%;
}

.text-input{
    font-weight: bolder;
    margin: 10px;
    font-size: 20px;
    
}

.button{
    position: relative;
    background-color: #99d1f1;
    border-color: #111111;
    border-radius: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 25px;  
    right: 190px;  
}

input[type="text"]{ 
    padding: 10px ; 
   
}
input[type="password"]{ 
    padding: 10px ; 
   
}