* {
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

/* --- conteiner -- */

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	border-bottom: 1px solid black;
}

	@media (win-width: 1170px){
		.container{
			max-width:  1170px;
			padding: 0;
		}
	}

/* GridLayout */
.col {
	display: inline-block;
	vertical-align: top;
	min-height: 1px;
	padding-left: 1px;
	padding-right: 1px;
	width: 100%;
	margin-right: -4px;
	*zoom: 1;
	*display: inline;
}

/* duas colunas*/
@media (min-width: 480px){
	.col-2{
		width: 50%;
	}
}

@media (min-width:992px){
	.col-3{
		width:33.33%;
	}
}

/* sidebar */
@media (min-width: 992px){
	.col-content{
		width: 60%;
	}

	.col-sidebar{
		width:40%;
	}
}

/* --- menu -- */
/* linha */
.menu {
	margin-left: -5px;
	margin-right: -5;
}
	.menu:before,
	.menu:after{
		content: "";
		display: table;
	}

	.menu:after{
		clear: both;
	}


.menu-item{
	padding: 8px;
	text-align: center;
	margin: 2px 0;
	
}

.menu-login{
	float: right;
	padding: 8px;
	margin: 2px 0;	
}

.menu-item {
	float: left;
	
}

.menu-item::after {
    content: " | ";
}

.menu-item:last-child::after {
    content: none;
}

.menu-item a {
    padding: 5px 10px;
    text-decoration: none;
	max-width: 5%;
	color: black;  
}

/* --- conteudo -- */
.conteudo {
    padding: 1px;
    
}
	.conteudo:before,
	.conteudo:after{
		content: "";
		display: table;
	}

	.conteudo:after{
		clear: both;
	}

aside{
    float: right;
    max-width: 50%;
}

section{
    font-size: 20px;
    margin: 5%;
}


.title{
    font-size: 25px;
    text-align: center;
    margin: 5px;

}

.post img{
    max-height: 50%;
    max-width: 50%;
}

#post2{
    text-align: center;
}

.locale address, .commentary article{
    font-style: normal;
    padding: 10px;
}

.local-city{
    font-style: normal;
    font-weight: bolder;
}

/*-- Footer --*/

footer{
    margin: -10px;
    min-width: 100%;
    clear: both;
    overflow: no-display;
}

footer p{
    padding: 20px;
    font-size: 12px;
}
