* {
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

/* Navegador */
.menu {
    float: top;
    padding: 10px;
    border-bottom: 1px solid black;
}

.menu-item {
	float: left;
	
}

.menu-item::after {
    content: " | ";
}

.menu-item:last-child::after {
    content: none;
}

.menu-item a {
    padding: 5px 10px;
    text-decoration: none;
    max-width: 5%;
    
}

/* conteiner */

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

	@media (win-width: 1170px){
		.container{
			max-width:  1170px;
			padding: 0;
		}
	}

/* linha */
.row {
	margin-left: -5px;
	margin-right: -5;
}
	.row:before,
	.row:after{
		content: "";
		display: table;
	}

	.row:after{
		clear: both;
	}

/* coluna */
.col {
	display: inline-block;
	vertical-align: top;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	margin-right: -4px;
	*zoom: 1;
	*display: inline;
}

/* duas colunas*/
@media (min-width: 480px){
	.col-2{
		width: 50%;
	}
}

@media (min-width:992px){
	.col-3{
		width:33.33%;
	}
}

/* sidebar */
@media (min-width: 992px){
	.col-content{
		width: 60%;
	}

	.col-sidebar{
		width:40%;
	}
}

.menu-item{

	padding: 1px;
	text-align: center;
	margin: 2px 0;
	
}

.menu-login{
	float: right;
	
	padding: 1px;
	text-align: center;
	margin: 2px 0;
	
}

.big{
	height:50px;
}